.collapse-btn {
    background-color: #FF6060;
    border: none;
    border-radius: 10px;
    height: 52px;
    width: 100%;
    text-align: left;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown {
    background-color: #f7f7f7;
    border-radius: 25px;
    height: fit-content;
}

.dropdown>p {
    padding: 0 10px;
}

.dropdown>ul {
    list-style-type: none;
    padding: 0 10px;
}

@media (max-width: 480px) {
    .collapse-btn {
        height: 30px;
    }
    .dropdown>p {
        font-size: 12px;
    }
    
    .dropdown>ul {
        font-size: 12px;
    }
}