main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px 0;
  background-color: #F7F7F7;
  border-radius: 25px;
  gap: 30px;
}

.figure-home {
  display: block;
  position: relative;
  color: white;
  cursor: pointer;
}

.img-home {
  width: 340px;
  height: 340px;
  border-radius: 10px;
}

.figcaption-home{
  position: absolute;
  margin: 0;
  bottom: 5%;
  left: 5%;
}

@media (max-width: 480px) {
  .img-home {
    width: 335px;
    height: 255px;
    border-radius: 10px;
  }
  main {
    background-color: white;
  }
}