@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
   url("../font/Montserrat.ttf") format("truetype");
  }

body {
  margin: 0;
  padding: 0 10%;
  font-family: 'Montserrat';
  color: #FF6060;
}

figure{
  padding: 0;
  margin: 0;
}

a{
  color: #FF6060;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (max-width: 480px) {
  body {
    padding: 0 2%;
  }
}